/* static/styles.css */
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  column-count: 2;
  column-gap: 20px;
}
.barcode-item {
  font-size: smaller;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  break-inside: avoid;
}
.barcode-item img {
  max-width: 100%;
  height: auto;
}
.description {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    column-count: 1;
  }
}
