<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HF48QZZHWK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HF48QZZHWK");
    </script>
    <title>Recommended Order</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/barcodes.css') }}"
    />
  </head>
  <body>
    <h3>
      <span>Number of barcodes generated: {{ barcode_counter }}</span>
      <span>NOTE: There's 30 rows in a full page.</span>
    </h3>
    <div class="container">
      {% for product_number, (description, order_qty) in
      product_descriptions.items() %}
      <div class="barcode-item">
        <img
          src="{{ request.url_for('static', path='/barcodes/' + product_number + '.svg') }}"
          alt="Barcode"
        />
        <span class="order_qty">Qty: {{ order_qty }}</span>
        <span class="description">{{ description }}</span>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
