<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPC to Barcode</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Upload your IRIS Recommended Order (PDF)</h1>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="upload-form"
      >
        <input type="file" name="file" accept=".pdf" required />
        <button type="submit">Generate Barcodes</button>
      </form>

      <div class="instructions">
        <p>Instructions:</p>
        <ul>
          <li>
            Upload your PDF file, then click the
            <strong>Generate Barcodes</strong> button
          </li>
          <li>Wait to be redirected. Bigger files takes some time.</li>
          <li>
            When you are done scanning, replace <strong>/upload</strong> with
            <strong>/cleanup</strong> in the url of the website
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
