<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-HF48QZZHWK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HF48QZZHWK");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPC to Barcode</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Upload your IRIS Recommended Order (PDF)</h1>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        class="upload-form"
      >
        <input type="file" name="file" accept=".pdf" required />
        <button type="submit">Generate Barcodes</button>
      </form>

      <div class="instructions">
        <p>Instructions:</p>
        <ul>
          <li>
            Upload your PDF file, then click the
            <strong>Generate Barcodes</strong> button
          </li>
          <li>Wait to be redirected. Bigger files takes some time.</li>
        </ul>
      </div>
    </div>
  </body>
</html>
